:root {
    --blue-color: #3d4785;
    --lightblue-color: #dde5f4;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    border-bottom: 1px groove;
    align-items: center;
    height: 10vh;
}
.header p{
    font-size: 1.5rem;
}

.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box{
    border: 1px solid black;
    width: 400px;
    height: 55vh;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    padding-top: 5vh;
    background-color:var(--lightblue-color);
    
}
.login p{
    font-size: 1.25rem;
}

.login{
    text-align: center;
    margin-bottom: 40px;
}
.login-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.login-input{
    margin-bottom: 40px;
}

.login-input input{
    width: 300px;
    height: 6vh;
    text-align: center;
    border-radius: 20px;
}

.login-content button{
    width:250px;
    height:5vh;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: var(--blue-color);
    color: white
}

.box-footer{
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

/* register */

.register-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box{
    border: 1px solid black;
    width: 600px;
    height: 70vh;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    padding-top: 5vh;
    background-color:var(--lightblue-color);
    
}
.register p{
    font-size: 1.25rem;
}

.register{
    text-align: center;
    margin-bottom: 40px;
}
.register-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.register-input{
    margin-bottom: 40px;
}

.register-input input{
    width: 400px;
    height: 6vh;
    text-align: center;
    border-radius: 20px;
}

.register-content button{
    width:250px;
    height:5vh;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color:var(--blue-color);
    color: white
}

/* assign patient */

.patient{
    margin-top: 20px;
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}

.patient-header p{
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 20px;
}

.patient-content{
    display:flex;
    justify-content: space-around;
}

.drop-down select{
    width: 150px;
    text-align: center;
    margin-left: 20px;
}

/* assign employee */

.employee{
    margin-top: 20px;
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}

.employee-header p{
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 20px;
}

.employee-content{
    display:flex;
    justify-content: space-around;
}

/* admin panel */

.admin-panel{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
}

.admin-header{
    text-align: center;
}

.admin-header p{
    font-size: 1.25rem;
}

.panel-content{
    display:flex;
    justify-content: space-around;
    height:40vh;
    align-items: center;
}

/* statistics */

.statistics-content{
    margin-top: 40px;
    padding: 20px
}

.female-num input{
margin-left: 20px;
width: 60px
}
