*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    border-bottom: 1px groove;
    align-items: center;
    height: 10vh;
}
.header p{
    font-size: 1.5rem;
}

.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box{
    border: 1px solid black;
    width: 400px;
    height: 55vh;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 5vh;
    background-color: #dde5f4;
    
}
.login p{
    font-size: 1.25rem;
}

.login{
    text-align: center;
    margin-bottom: 40px;
}
.login-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.login-input{
    margin-bottom: 40px;
    /* position: relative;
    left: 10px */
}

.login-input input{
    width: 300px;
    height: 6vh;
    text-align: center;
    border-radius: 20px;
}

.login-content button{
    width:250px;
    height:5vh;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #3d4785;
    color: white
}

.box-footer{
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

/* register */


